{% extends "base.html" %}

{% block content %}
    <form action="">
        <div class="row mt-5 pb-4">
            <div class="col-md-6 mb-3">
                <span class="badge badge-pill badge-success">1</span> Для начала определимся с тем что вам нужно. Вам <b>нужна помощь</b> или вы <b>хотите помочь</b>?
            </div>
            <div class="col-md-6 mb-3">
                <select id="is_giver" name="is_giver" class="form-control">
                    {% if form['is_giver'] %}
                        <option selected value="True">Мне нужна помощь</option>
                        <option value="False">Я хочу помочь</option>
                    {% else %}
                        <option value="True">Мне нужна помощь</option>
                        <option selected value="False">Я хочу помочь</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <span class="badge badge-pill badge-success">2</span> Теперь определимся с тем в каком <b>городе</b> вы находитесь.
            </div>
            <div class="col-md-6 mb-3">                
                <input id="city" name="city" type="text" class="form-control" placeholder="Укажите город" value="{{ form['city'] }}">
            </div>
            <div class="col-md-6 mb-3">
                <span class="badge badge-pill badge-success">3</span> Возможно существует какое-то <b>ключевое слово</b>, которое может упростить поиск, например: "лекарства", "еда" и т.д.
            </div>
            <div class="col-md-6 mb-3">
                <input id="service" name="service" type="text" class="form-control" placeholder="Что вы ищите?" value="{{ form['service'] }}">
            </div>
            <div class="col-md-6 mb-3">
                <span class="badge badge-pill badge-success">4</span> Ничего страшного, если вы оставите некоторые поля пустыми. <b>Все что остается сделать - это отфильтровать список по вашему запросу.</b>
            </div>
            <div class="col-md-6 mb-3">
                <input type="submit" value="Фильтровать список" class="btn btn-success btn-block">
            </div>
        </div>
    </form>
    <h1 class="pb-3 mb-4 border-bottom">Список</h1>
    <p> Что вы ищите:
        {% if form['is_giver'] %}
            <b>Мне нужна помощь</b>
        {% else %}
            <b>Я хочу помочь</b>
        {% endif %}
        | <b> {{ form['city'] }} </b> | <b> {{ form['service'] }} </b>
    </p>
    <div class="row">
        {% for help in helps %}
        <div class="col-md-12 mb-4 border rounded px-3 py-3 shadow p-3">
            <div class="border-bottom pb-2 mb-2">
                <span class="card-title font-weight-bold">{{ help.name }}</span>
                <span class="badge badge-success badge-pill">{{ help.city }}</span>
                {% if help.is_giver %}
                    <span class="badge badge-primary badge-pill">могу помочь</span>
                {% else %}
                    <span class="badge badge-danger badge-pill">нужна помощь</span>
                {% endif %}
            </div>
            {% if help.is_giver %}
                <p class="card-text"><b>Могу дать:</b> {{ help.service }}</p>
            {% else %}
                <p class="card-text"><b>Мне нужно:</b> {{ help.service }}</p>
            {% endif %}
            <a href="tel:{{help[2]}}">{{ help.phone }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    {% if prev_url %}
                        <a href="{{ prev_url }}" class="btn btn-success btn-block">Предыдущая</a>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    {% if next_url %}
                        <a href="{{ next_url }}" class="btn btn-success btn-block">Следующая</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}